<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Termin4CSharp.Properties.Settings.tempdbConnectionString"
            connectionString="Data Source=DESKTOP-STUECFJ;Initial Catalog=tempdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Termin4CSharp.Properties.Settings.EbbaCRONUS" connectionString="Data Source=EBBA-DATOR;Initial Catalog=&quot;Demo Database NAV (5-0)&quot;;User ID=a;Password=a"
            providerName="System.Data.SqlClient" />
        <add name="Termin4CSharp.Properties.Settings.Setting" connectionString="Data Source=sql5030.smarterasp.net;Initial Catalog=&quot;DB_A15DA9_termin4&quot;;Persist Security Info=True;User ID=DB_A15DA9_termin4_admin;Password=Termin41337"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>